<div class="u-center col-12 col-10@md">
  <% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |err|%>
      <div class="c-err-message">
        <p><%= err %></p>
      </div>
    <% end%>
  <% end %>

  <%= form_with(model: @article, local: true, class: "o-form") do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, class: "o-input" %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 3, class: "o-input" %>
    </div>
    <div>
      <%= f.label :article_body %>
      <%= f.text_area :article_body, rows: 10, class: "o-input js-simplemde-form" %>
    </div>
    <div>
      <%= f.label :github_link %>
      <%= f.text_field :github_link, class: "o-input" %>
    </div>
    <div>
      <%= f.label :deployed_link %>
      <%= f.text_field :deployed_link, class: "o-input" %>
    </div>


    <%= f.submit class: "c-btn c-btn--pri col-12" %>
  <% end %>
</div>