<div class="u-center col-12 col-10@md ">
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |err|%>
      <p><%= err %></p>
    <% end%>
  <% end %>

  <%= form_with(model: @user, local: true, class: "o-form") do |f| %>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username, class: "o-input" %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email, class: "o-input" %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, class: "o-input" %>
    </div>
    <%= f.submit "Sign Up", class: "c-btn" %>
  <% end %>
</div>