<!DOCTYPE html>
<html>
  <head>
    <title>IanKDuffy | Ruby On Rails Projects</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="o-header u-pad-h-sm">
    <%= link_to (image_tag ("logo.svg"), class: "u-pad-h-sm"), root_path, class: "o-header__logo" %>
    </nav>
    <main>
      <%= render partial: "layouts/partials/messages" %>
      <%= yield %>
    </main>
  </body>
</html>
